*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
}

@media screen and (min-width: 769px) {
  .workspace {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    width: 500px;
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .workspace {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    width: 60vw;
    height: 50vh;
  }
}
